/* ------------------ RESET & BASE ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb;
  color: #333;
  line-height: 1.6;
}

section {
  min-height: 100vh; /* Full screen height */
  width: 100%;
  padding: 80px 60px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}

/* ------------------ HEADER ------------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  /* background-color: #ffffff; */
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .name {
  font-size: 38px;
  font-weight: 700;
  color: #311946;
  text-decoration: none;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 23px;
}

nav a:hover {
  color: #76797a;
}

/* ------------------ HOME SECTION ------------------ */
#home {
  min-height: 100vh;
  display: flex;
  align-items: center; /* vertical center */
  justify-content: space-between;
  padding: 0 60px;
  background: #5b3769;
  color: #3b2e2e;
  gap: 40px;
}

#home > div:first-child {
  flex: 1; /* left content */
}

.sign {
  position: relative;
  height: 420px;
}

.sign div {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Bubble 1 */
.sign1 {
  width: 120px;
  height: 120px;
  top: 20px;
  right: 60px;
}

.sign2 {
  width: 90px;
  height: 90px;
  top: 180px;
  right: 10px;
}

.sign3 {
  width: 140px;
  height: 140px;
  top: 300px;
  right: 140px;
}

.sign4 {
  width: 100px;
  height: 100px;
  top: 110px;
  right: 180px;
}

.sign5 {
  width: 80px;
  height: 80px;
  top: 40px;
  right: 260px;
}

.sign6 {
  width: 110px;
  height: 110px;
  top: 430px;
  right: 90px;
}

.sign7 {
  width: 95px;
  height: 95px;
  top: 230px;
  right: 300px;
}

.sign8 {
  width: 70px;
  height: 70px;
  top: 360px;
  right: 330px;
}

.sign9 {
  width: 125px;
  height: 125px;
  top: 150px;
  right: 420px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.sign1 {
  animation: float 6s ease-in-out infinite;
}
.sign2 {
  animation: float 8s ease-in-out infinite;
}
.sign3 {
  animation: float 7s ease-in-out infinite;
}
.sign4 {
  animation: float 5s ease-in-out infinite;
}
.sign5 {
  animation: float 6s ease-in-out infinite;
}
.sign6 {
  animation: float 9s ease-in-out infinite;
}

.sign7 {
  animation: float 7.5s ease-in-out infinite;
}
.sign8 {
  animation: float 6.5s ease-in-out infinite;
}
.sign9 {
  animation: float 8.5s ease-in-out infinite;
}

#home h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

#home h1 span {
  font-size: 80px;

  color: #ffffff;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home h2 {
  font-size: 50px;
  color: #e6c9d8;
}

#home p {
  max-width: 600px;
  font-size: 18px;
  margin-bottom: 30px;
  color: #ffffff;
}

.button {
  display: flex;
  gap: 20px;
}

.button a {
  padding: 12px 28px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #0f172a;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    background-color 0.3s ease;
}

.button a:hover {
  background-color: #b3b3b3;
  transform: translateY(-2px);
}

/* ------------------ ABOUT SECTION ------------------ */

#about h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* max-width: 1200px; */
  margin: auto;
}

.row1,
.row3 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.comm1,
.comm2,
.comm3 {
  width: 340px;
  height: 260px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.comm1:hover,
.comm2:hover,
.comm3:hover {
  transform: scale(1.03); /* slight zoom */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.row2 {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f5f9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 800px;
  height: 260px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.box h2 {
  margin-bottom: 10px;
  color: #0f172a;
}

.box:hover {
  transform: scale(1.03); /* slight zoom */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
/* -------- RESPONSIVE (Mobile) -------- */
@media (max-width: 900px) {
  .row1,
  .row3 {
    flex-direction: column;
  }

  .comm1,
  .comm2,
  .comm3 {
    width: 100%;
  }
}

/* ------------------ CONTACT SECTION ------------------ */
#contact {
  padding: 80px 90px;
  background-color: #5b3769;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  max-width: 500px;
  color: white;
}

.contact-info h1 {
  margin-bottom: 12px;
  /* font-size: 40px; */
}

.contact-info p {
  margin-bottom: 14px;
}

.mail,
.phone {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  justify-content: flex-start;
}
.contact-form {
  width: 700px;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.contact-form p {
  font-size: 35px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5f5;
  border-radius: 6px;
  font-size: 15px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #38bdf8;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #0f172a;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1e293b;
}

/* ------------------ FAQ ------------------ */
.faq {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.faq .container {
  max-width: 900px;
  max-height: 500px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq h1 {
  color: #131111;
  font-weight: bold;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.faq p {
  color: #5c5c5c;
}

details {
  background-color: #f5f5f5;
  padding: 10px;
  transition: background-color 0.3s ease;
}

details[open] {
  background-color: #8d5ca0;
}

summary {
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 10px;
  list-style: none; /* Remove default arrow */
  position: relative;
}

summary::after {
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  content: "-";
  transform: rotate(0deg);
}

.container p {
  padding: 10px;
  margin: 0;
  color: #3c3434;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

/* ------------------ FOOTER ------------------ */
footer {
  background-color: #5b3769;
  color: #e5e7eb;
  text-align: center;
  padding: 20px;
  /* margin-top: 60px; */
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
  }

  #home h1 {
    font-size: 36px;
  }

  header {
    padding: 15px 30px;
  }
}
