body {
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  background: #2d3e50;
  color: #fff;
}

.text-sign{
      display: flex;
      align-items: center;
      /* justify-content: center; */
      flex-direction: column;
      width: 100%;
      height: 100dvh;
      margin-top: 3rem;
}

.input{
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
}
